<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<title>Cambiar contraseña</title>
</head>
<body>
<h1>Cambiar contraseña</h1>

	<div>
	<form method="POST" action="confirmPassword" >
	<h2>Contraseña:</h2>
	<input id="password" name="password" type="password" />
	<h2>Nueva contraseña:</h2>
	<input id="newPassword" name="newPassword" type="password" />
	<input type="submit" name="confirmarCambio" value="Confirmar cambio"/>
	</form>
	</div>
</body>
</html>