<!DOCTYPE HTML>
<html>
<head>
 	<meta charset="UTF-8"/>
 	<title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="login" >
	<table>
		<tr>
			<td><label for="email"><strong>Usuario:</strong> </label></td>
			<td><input type="text" id="email" name="email"/></td>
		</tr>
		<tr>
			<td><label for="password"><strong>Contraseña:</strong> </label></td>
			<td><input type="password" id="password" name="password" /></td>
		</tr>
		<tr>
			<td><button type="submit" id="login">Entrar</button></td>
		</tr>
	</table>
</form>
</body>
</html>