<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>

	<div>
		<form method="POST" action="login">
			<h2>Usuario:</h2>
			<input id="ident" name="ident" type="text" />
			<h2>Contraseña:</h2>
			<input id="password" name="password" type="password" />
			<br/><br/>
			<select id="kind"
				name="kind">
				<option value="1">Person</option>
				<option value="2">Entity</option>
				<option value="3">Sensor</option>
			</select>
			<button type="submit" id="login">Entrar</button>
		</form>
	</div>


</body>
</html>
